.meal-container {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.cart-icon {
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: #efefef;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  box-shadow: inset 0 0 8px #bbb;
}
.cart-icon i {
  font-size: 1.6rem;
  color: orangered;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -2px;
}
.meal-img {
  height: 20rem;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

h4 {
  margin: 0;
  margin-bottom: 5px;
}
p {
  margin: 0;
}
.flexify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item {
  flex: 0 0 60%;
}
.addedToCart {
  color: #28a745 !important;
}
