.form-group {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

.form-action {
  margin-top: 2.5rem;
}

.two input {
  flex: 0 0 48%;
}

.three input {
  flex: 0 0 30%;
}

.btn-margin {
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .form-group {
    display: block;
  }
}