.image {
  height: 7rem;
  width: 7rem;
  border-radius: 10px;
  flex: 0 0 25%;
}
.cart-item {
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.form {
  font-size: 1.2rem;
  flex: 0 0 45%;
  font-family: "Raleway";
  font-weight: 600;
  margin-left: 1rem;
}
select.form-item {
  width: 3rem;
  margin-top: 8px;
}
.price {
  font-size: 2rem;
  flex: 0 0 30%;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Roboto' !important;
  letter-spacing: 1px;
}
.amount {
  display: flex;
  align-items: flex-end;
}
.amount i {
  margin-right: 10px;
}
.price-value {
  margin-bottom: 1.5rem;
}
.delete-icon {
  margin: 0 auto;
  color: red;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .image {
    height: 5rem;
    width: 5rem;
  }
  .price {
    font-size: 1.2rem;
    flex: 0 0 30%;
    align-items: flex-end;
  }
  .form {
    flex: 0 0 35%;
  }
  .form-item {
    font-size: 1rem;
  }
}
