h3 {
  margin-top: 0;
  text-align: center;
  color: slategray;
  font-size: 1.3rem;
}
.empty-cart {
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  .empty-cart img {
    max-width: 20rem;
  }
  h3 {
    font-size: 1.1rem;
  }
}
