.search-container {
  position: relative;
}
.search-container input[type="text"] {
  width: 95%;
  border: 0;
  background-color: #efefef;
  padding: 1rem 2rem;
  border-radius: 40px;
  font-family: "Raleway";
  font-weight: 600;
}
.search-container input[type="text"]:focus-visible {
  outline: none;
  border: 0;
}
.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

@media screen and (max-width: 768px) {
  .search-container input {
    margin: 0 auto;
    display: block;
    width: 75% !important;
  }
  .search-icon {
    right: 3rem;
  }
}
